<section>
  <div class="d-flex align-items-center container">
    <div class="col-lg-7 col-md-7">
      <div class="logo"></div>
      <h1>Welcome The Best</h1>
      <h2 class="mb-4">Online Casino Games</h2>
      <p>
        Enjoy the convenience of playing from mobile. Your favorite games are
        easily accessible from any mobile device. Winning has never been as
        easy, fast and convenient!
      </p>
      <p>
        Make every day unforgettable with our extremely rewarding offers! Turn
        your week into adventure!
      </p>
      <p>
        A unique game selection - from the latest slot games to the old classic
        cards and roulette. You will definitely find what you`re looking for!
      </p>

      <div class="d-flex flex-column flex-lg-row align-items-center mt-5">
        <div>
          <a
            href="assets/res/KoolB-0531.mobileconfig"
            role="button"
            class="btn btn-outline-light mb-4 me-lg-3"
            download
          >
            <i class="fab fa-apple"></i>
            IOS Lite
          </a>
          <figure>
            <img src="assets/images/ios.jpg" alt="" width="100px">
          </figure>
        </div>
        <div>
          <a
            href="assets/res/KoolB.apk"
            role="button"
            class="btn btn-outline-light mb-4"
            download
          >
            <i class="fab fa-android"></i>
            Android
          </a>
          <figure>
            <img src="assets/images/android.jpg" alt="" width="100px">
          </figure>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5">
      <img src="assets/images/img.png" class="img-fluid bg_1" />
    </div>
  </div>
</section>
